# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
build/
.eslintcache

# Python
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
